* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
.wrapper {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 350px;
    background: pink;
}

.icon {
    width: 100%;
    height: 100px;
    background: yellow;
}